@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: light-dark(#f9fafb, #121212);
  --foreground: light-dark(#212121, #eaeaea);
  --card: light-dark(#ffffff, #1e1e1e);
  --card-foreground: light-dark(#212121, #eaeaea);
  --popover: light-dark(#ffffff, #1e1e1e);
  --popover-foreground: light-dark(#212121, #eaeaea);
  --primary: light-dark(#4f46e5, #818cf8);
  --primary-foreground: light-dark(#ffffff, #1e1e1e);
  --secondary: light-dark(#e5e7eb, #374151);
  --secondary-foreground: light-dark(#374151, #d1d5db);
  --muted: light-dark(#f3f4f6, #4b5563);
  --muted-foreground: light-dark(#6b7280, #9ca3af);
  --accent: light-dark(#fbbf24, #fde68a);
  --accent-foreground: light-dark(#78350f, #78350f);
  --destructive: light-dark(#dc2626, #ef4444);
  --border: light-dark(#d1d5db, #374151);
  --input: light-dark(#f9fafb, #1f2937);
  --ring: light-dark(#6366f1, #818cf8);
  --chart-1: light-dark(#ef4444, #f87171);
  --chart-2: light-dark(#3b82f6, #60a5fa);
  --chart-3: light-dark(#10b981, #34d399);
  --chart-4: light-dark(#f59e0b, #fbbf24);
  --chart-5: light-dark(#8b5cf6, #a78bfa);
  --sidebar: light-dark(#f3f4f6, #111827);
  --sidebar-foreground: light-dark(#111827, #d1d5db);
  --sidebar-primary: light-dark(#3b82f6, #2563eb);
  --sidebar-primary-foreground: light-dark(#ffffff, #e0e7ff);
  --sidebar-accent: light-dark(#facc15, #ca8a04);
  --sidebar-accent-foreground: light-dark(#78350f, #78350f);
  --sidebar-border: light-dark(#e5e7eb, #374151);
  --sidebar-ring: light-dark(#6366f1, #818cf8);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow-y: hidden;
  }
}
